[user]
	email = %USER_EMAIL% 
	name = %USER_NAME%
[core]
	editor = vim
[color]
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[alias]
	lg = log --graph --decorate --abbrev-commit --oneline --color --all -20
        lo = log --decorate --all --color --graph --format=format:'%C(yellow)%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --

	s = status
	br = branch
	dc = diff --color --word-diff
	co = checkout
        cm = commit
        cmm = commit -m 
	pr = pull --rebase
[merge]
	tool = vimdiff
[log]
	decorate = full
